/* tableta de  colores

Principal: #ffae00;
Botones : #8ec63f; 

*/
.VueTables__table th{
  background-color: #ffae00!important;
  color: white!important;
  padding: 5px 15px 5px 15px!important;
}
.pointer{
  cursor: pointer!important;
}
.btn-add:hover{
  width  : 36px;
  height : 36px;
}

body {
  background-color: white!important;
}
.errors {
  color: red;
  font-size: 11px;
}
.header-top-area, .footer-copyright-area  {
    background-color: #333333!important;
}

.btn {
    background-color: #8ec63f!important;
}
.nav-link  {
   padding: 20px!important;
}
.nav-link:hover  {
    background-color: #8ec63f!important;
}
.breadcomb-area {
    margin: 0px 0px 10px 0px!important;
}
.main-menu-area {
    margin: 10px!important;
}
  select {
    color: #8ec63f!important;
  }
  input {
    color: #8ec63f!important;
  }
  .subtitle {
    color: #8ec63f!important;
  }
  h2 {
    color: #DD8C00!important;
  }
  label {
    color: #DD8C00!important;
    font-size: 14px;
  }


  /* Estilos para siguiente clase de Profesionales */

  .siguiente-clase {
      width: 400px!important;
      -webkit-box-shadow: -1px 13px 10px -7px rgba(0,0,0,0.75);
      -moz-box-shadow: -1px 13px 10px -7px rgba(0,0,0,0.75);
      box-shadow: -1px 13px 10px -7px rgba(0,0,0,0.75);
      padding-bottom: 25px;

  } 
  .siguiente-clase .cabeza{
    background-color: #DD8C00;
    color:#fff;
    font-size: 10px;
    font-weight: 600;
    padding: 1px 5px 1px 15px ;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
  }
  .siguiente-clase .zoom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:15px;
    
  }
  .siguiente-clase .hora{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:15px;
    font-size: 16px;   
  }
  .siguiente-clase .alumno{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;   
    padding-top:10px;

  }
  .siguiente-clase .profesional{

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    margin-left:10px;
    padding-top:5px;
    color: #DD8C00;
  }

  .alumn-in-class {
    font-size : 12px;
  }

  .rut-in-class{
    font-size : 10px;
  }

  .btn-lesson img:hover {
    /* -webkit-transform:scale(1.3)!important;
    transform:scale(1.3)!important; */
  }

  .panel-custom-lesson {
    background-color: #FAFAFA;
    padding: 10px 1px!important;
    margin-top: 10px!important;    
    margin-bottom: 5px!important; 
    border: solid #DD8C00 1px; 
  }

  .header-top-area{
    height: 25px!important;
    border-bottom: 5px solid #8ec63f!important;
  }

 
  .neo-salir {
    float: right;
    color: #DD8C00;
    font-weight: 600;
    cursor: pointer;
    font-size: 10px;  

  }

  .neo-salir:hover {
    transition: .5s;
    color: #8ec63f;
  }

  .notika-main-menu-dropdown a {
    color: white!important;
    padding-top: 10px!important;
    padding-bottom: 10px!important; 
 }
 .notika-main-menu-dropdown {
    background-color: #8ec63f!important;
  
 }
 .main-menu {
    color: #8ec63f!important;
    font-size: 18px!important;
 }
 .nav > li > a:focus, .nav > li > a {
  font-size: 11px!important;

 }
 .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a {
   background-color: #ffc664!important;
   color: #fff!important;
   font-size: 13px!important;
   padding-right: 150px;
   transition: .9s;
   

 }

 .current-day-calendar {
   background-color: red!important;
 }



  
 





