/* tableta de  colores

Principal: #ffae00;
Botones : #8ec63f; 

*/
.pointer{
  cursor: pointer;
}
.errors {
  color: red;
  font-size: 11px;
}
.header-top-area, .footer-copyright-area  {
    background-color: #333333!important;
}

.header-top-area {
  height: 15px !important;
}

.btn {
    background-color: #8ec63f!important;
}
.nav-link  {
   padding: 20px!important;
}
.nav-link:hover  {
    background-color: #8ec63f!important;
}

.breadcomb-area {
    margin: 0px 0px 10px 0px!important;
}
.main-menu-area {
    margin: 10px!important;
}
select {
    color: #8ec63f!important;

  }
  input {
    color: #8ec63f!important;
  }
  .subtitle {
    color: #8ec63f!important;
  }
  h2 {
    color: #DD8C00!important;
  }
  label {
    color: #DD8C00!important;
    font-size: 14px;
  }




